ion-grid {
  display: block;
  justify-content: center;
  margin: auto;
  text-align: center;
}
ion-row {
  display: block;
  justify-content: center;
  margin: auto;
  text-align: center;
}
ion-buttons{
  padding-left: 16px;
  padding-top: 16px;
}
.criarConta{
  font-size: 26px;
}
.appIcon{
  width: 200px;
}