<ion-header>
  <ion-toolbar>
    <ion-title>Selecione um icone</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-back-button defaultHref="/categoria"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon class="saveButton" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row wrap>
      <ion-col size="3" [routerLink]="['/categoria', icone]" (click)="save()" routerDirection="forward" *ngFor="let icone of iconeList">
        <div class="icone">
        <i class="fas fa-{{icone.nome}}"></i></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>