<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <h1>Bem Vindo ao Controle Finanças</h1>
        </ion-row>
        <ion-row>
          <img class="ilustracao" src="../../assets/ilustracao/savings.png" alt="imagem não encontrada">
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <h1>Acompanhe suas finanças detalhadamente</h1>
        </ion-row>
        <ion-row>
          <img class="ilustracao" src="../../assets/ilustracao/investing.png" alt="imagem não encontrada">
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <h1>Gerencie seus gastos por categoria</h1>
        </ion-row>
        <ion-row>
          <img class="ilustracao" src="../../assets/ilustracao/wallet.png" alt="imagem não encontrada">
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row class="linha">
      <ion-item lines="none">
        <ion-icon class="icone" slot="start" name="mail"></ion-icon>
        <ion-label class="floating" position="floating">E-mail</ion-label>
        <ion-input [(ngModel)]="usuarioLogin.email" type="email"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="linha">
      <ion-item lines="none">
        <ion-icon class="icone" slot="start" name="lock"></ion-icon>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="usuarioLogin.senha" type="password"></ion-input>
      </ion-item>
    </ion-row>
  </ion-grid>
  <ion-row>

    <ion-button fill="outline" mode="ios" expand="full" (click)="loginEmail()">Entrar</ion-button>
  </ion-row>
  <ion-row>
    <div margin text-center>
      <ion-label (click)="senha()">Esqueceu a senha?</ion-label>
    </div>
  </ion-row>
  <ion-row>
    <ion-button fill="outline" mode="ios" expand="full" (click)="loginGoogle()">
      <img class="googleIcon" src="../../assets/icon/google-icon.png" alt="logo google">
      <ion-label padding>Entrar com google</ion-label>
    </ion-button>
    <ion-button class="botaoFacebook" fill="outline" mode="ios" expand="full" (click)="loginFacebook()">
      <img class="googleIcon" src="../../assets/icon/facebook.png" alt="logo facebook">
      <ion-label padding>Entrar com Facebook</ion-label>
    </ion-button>
  </ion-row>

  <ion-row>
    <div class="footer" text-center>
      <ion-label (click)="irCadastro()">Não tem uma conta? Cadastre-se agora</ion-label>
    </div>
  </ion-row>
</ion-content>