ion-row,
ion-item,
ion-grid {
  display: block;
  justify-content: center;
  margin: auto;
}
.ilustracao {
  width: 60%;
}

.googleIcon {
  width: 25px;
  height: 25px;
}
ion-button {
  --border-radius: 5%;
}
.footer {
  padding-top: 5px;
}
.icone{
  margin-top: 25px;
}
.linha{
  margin-top: -15px;
}