<ion-app>
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu type="overlay">
      <ion-header>
        <div class="usuario">
          <ion-toolbar (click)="irPerfil()">
            <ion-icon class="icone" name="contact"></ion-icon>
            <ion-label *ngIf="usuario" color="dark">{{usuario.nome}}</ion-label>
            <ion-label *ngIf="!usuario" color="dark">nomeUsuario</ion-label>
          </ion-toolbar>
        </div>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <app-menu-item [link]="p"></app-menu-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-item lines="none" (click)="logout()">
        <ion-icon slot="start" name="walk"></ion-icon>
        <ion-label (click)="logout()">Sair</ion-label>
      </ion-item>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>