<ion-app>
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-avatar slot="start">
            <img src="../../assets/icon/icon-user.png" alt="avatar">
          </ion-avatar>
          <ion-label>Nome Usuário</ion-label>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <app-menu-item [link]="p"></app-menu-item>
          </ion-menu-toggle>
          
        </ion-list>
      </ion-content>
      <ion-item lines="none" (click)="logout()">
          <ion-icon slot="start" name="walk"></ion-icon>
          <ion-label (click)="logout()">Sair</ion-label>
        </ion-item>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>