<ion-header>
  <ion-toolbar>
    <ion-title>Objetivos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-spinner name="dots"></ion-spinner>
        <ion-label> Carregando</ion-label>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid fixed>

    <ion-card *ngFor="let objetivo of objetivos">
      <ion-item>
        <ion-icon (click)="deleteMensagem(objetivo.uid)" color="danger" name="trash" slot="end"></ion-icon>
        <ion-label>{{objetivo.nome}}</ion-label>
      </ion-item>
      <ion-row align-items-center padding (click)="edit(objetivo)">
        <ion-col size="1.5" offset="0.5">
          <img class="icone" src="../../assets/icon/target.png">
        </ion-col>
        <ion-col size="4">
          <ion-label>Preciso</ion-label>
          <ion-row>
            <ion-label>{{objetivo.valor | currency: 'R$'}}</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="1.5" offset="0.5">
          <img class="icone" src="../../assets/icon/pig.png">
        </ion-col>
        <ion-col size="4">
          <ion-label>Tenho</ion-label>
          <ion-row>
            <ion-label>R$1.520,00</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row justify-content-center align-items-center>
      <ion-col size="12" align-self-center>
        <ion-button strong="true" expand="block" (click)="add()">
          <ion-icon slot="start" name="add"></ion-icon>
          Adicionar objetivo
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>