// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.searchbar-input-container{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  .searchbar-input{
    border-radius: 0 !important;
  }
}

.sc-ion-back-button-ios-h {
  color: white;
}

ion-menu-button {
  color: white;
}

.li-ionic4-datePicker {
  .modal-wrapper {
    height: 75%;
    width: 310px;
    border-radius: 0px;
    @media (min-width: 768px) {
      width: 350px;
      height: 65%;
    }
  }
}

ion-menu ion-header ion-toolbar {
  background-size: contain;
  --background: url("assets/ilustracao/fundoPerfiAmarelol.png") center / cover;
  height: 130px;
  text-align: -webkit-center;
}
.usuario {
  width: 100%;
  text-align: center;

  ion-toolbar .icone {
    width: 100%;
    padding-top: 10px;
    font-size: 70px;
    color: #777;
  }
  .imagemUsuario{
    border-radius: 50%;
    display: flex;
  }
}
.list-ios,
.list-md {
  margin: 0;
  padding: 0;
  padding-right: 15px;
}
