<ion-header   no-border >
  <ion-toolbar class="header" #toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollEvents="true" [appHideHeader]="toolbar">
  <ion-grid class="resumo">
    <ion-row justify-content-center>
      <div text-uppercase class="mes">
        <ion-label>Fevereiro</ion-label>
      </div>
    </ion-row>
    <ion-row justify-content-center>
      <ion-label class="saldo">{{saldo | currency: "BRL"}}</ion-label>
    </ion-row>
  </ion-grid>
<div class="receitaDespesa">
  <ion-grid padding>
    <ion-row align-items-center>
      <ion-col size="1.5" offset="0.5" (click)="openReceita()">
        <img class="icone" src="../../assets/icon/trendingUp2.png">
      </ion-col>
      <ion-col size="4" (click)="openReceita()">
        <ion-label>Receitas</ion-label>
        <ion-row>
          <ion-label>{{totalReceita | currency: "BRL"}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col size="1.5" offset="0.5" (click)="openDespesa()">
        <img class="icone" src="../../assets/icon/trendingDown2.png">
      </ion-col>
      <ion-col size="4" (click)="openDespesa()">
        <ion-label>Despesas</ion-label>
        <ion-row>
          <ion-label>{{totalDespesa | currency: "BRL"}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
  <ion-card style="margin-top: 0px;">
    <ion-card-header>
      <ion-card-title>Últimas movimentações</ion-card-title>
    </ion-card-header>
    <ion-grid *ngFor="let movimento of movimentos | orderBy: '-data' | slice:0:5" (click)="openMovimento(movimento)">
      <ion-row align-items-center>
        <ion-col size="1">
          <div *ngIf="movimento.tipo == 'receita'">
            <img src="../../assets/icon/trendingUp.png">
          </div>
          <div *ngIf="movimento.tipo == 'despesa'">
            <img src="../../assets/icon/trendingDown.png">
          </div>
        </ion-col>
        <ion-col size="7.5">
          <ion-label class="nomeReceita">{{movimento.nome}}</ion-label>
          <ion-row align-items-end align-items-center>
            <ion-label>{{movimento.data | date: 'dd/MM' }}</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="3.5">
          <ion-label class="esquerda">{{movimento.valor | currency: "BRL"}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Nova receita" (click)="openModalReceita()">
        <ion-icon name="trending-up" color="success"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Nova despesa" (click)="openModalDespesa()">
        <ion-icon name="trending-down" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card>

  </ion-card>
</ion-content>