<ion-header no-border>
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="resumo">
    <ion-row justify-content-center>
      <div text-uppercase class="mes">
        <ion-label>Fevereiro</ion-label>
      </div>
    </ion-row>
    <ion-row justify-content-center>
      <ion-label class="saldo">R$1.130,00</ion-label>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-grid fixed>
      <ion-row align-items-center>
        <ion-col size="6">
          <ion-card-header class="receitas">
            <ion-card-title>Receitas</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col size="6">
          <ion-card-content>
            <ion-label>R$1.600,00</ion-label>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col size="6">
          <ion-card-header class="despesas">
            <ion-card-title>Despesas</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col size="6">
          <ion-card-content>
            <ion-label>R$470,00</ion-label>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card class="receitas">
    <ion-card-header>
      <ion-card-title>Receitas</ion-card-title>
    </ion-card-header>
    <ion-item-divider>
      <ion-card-content>
        <ion-label class="esquerda">Venda de cocada</ion-label>
        <ion-label class="direita">R$500,00</ion-label>
      </ion-card-content>
    </ion-item-divider>
    <ion-item-divider>
      <ion-card-content>
        <ion-label class="esquerda">Salário</ion-label>
        <ion-label class="direita">R$1.100,00</ion-label>
      </ion-card-content>
    </ion-item-divider>
  </ion-card>

  <ion-card class="despesas">
    <ion-card-header>
      <ion-card-title>Despesas</ion-card-title>
    </ion-card-header>
    <ion-item-divider>
      <ion-card-content>
        <ion-label class="esquerda">Conta de luz</ion-label>
        <ion-label class="direita">R$210,00</ion-label>
      </ion-card-content>
    </ion-item-divider>
    <ion-item-divider>
      <ion-card-content>
        <ion-label class="esquerda">Supermercado</ion-label>
        <ion-label class="direita">R$260,00</ion-label>
      </ion-card-content>
    </ion-item-divider>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Nova receita" (click)="openReceita()">
        <ion-icon name="trending-up" color="success"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Nova despesa" (click)="openDespesa()">
        <ion-icon name="trending-down" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>