.iconeIcon{
    display: flex;
    justify-content: center;
    padding-top: 1px;
}
.fas{
    font-size: 22px;
}
.nomeCategoria{
    padding-left: 15px;
}
.icone{
    
    background-color: rgb(216, 229, 240);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.iconeNull{
    background-color: rgb(255, 144, 71);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
